{% extends "base.html" %}
{% load static %}

{% block title %}{{post.title}}{% endblock title %}
{% block css_files %}
<link rel="stylesheet" href="{% static "blog/post-detail.css" %}" type="text/css">
<link rel="stylesheet" href="{% static "blog/form.css" %}" type="text/css">
{% endblock css_files %}

{% block content %}
<section id="summary">
    <h2>{{post.title}}</h2>
    {% include "blog/includes/read_later.html" %}
    <article>
        <img src="{{post.image.url}}" alt="{{post.title}}">
        <address>By <a href="mailto: {{post.author.email_address}}">{{post.author|title}}</a></address>
        <div>
            Last updated on <time>{{post.date|date:"F, jS"}}</time>
        </div>
    </article>
</section>

<main>
    {{post.content|linebreaks}}
</main>
<section id="comments">
    <div class="form-control">
        <form action="{% url "add-comment" %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="post-slug" value="{{post.slug}}" />
            {{form}}
            <button>Submit</button>
        </form>
    </div>
    <h1>Comments:</h1>
    <ul>
        {% for comment in comments %}
        <li>
            <div class="comment">
                <h2>{{comment.first_name}} {{comment.last_name}}</h2>
                <p>{{comment.text}}</p>
            </div>
        </li>
        {% endfor %}
    </ul>
</section>
{% endblock content %}